.headline {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 100%;
 
  @include onDesktop {
    width: 1120px;
    display: flex;
    flex-direction: row;
  }
&__discription {
  width: 480px;
  margin: 80px auto 0;
  @include onDesktop {
    width: 600px;
    margin-top: 50px;
    align-items: center;
  }
}
  &__title {
    margin: 0;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 60px;
    letter-spacing: 1px;
    color: #11223F;
  }

  &__text {
    margin-top: 20px;
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
  }

  &__button-mobile {
    margin-top: 40px;
    width: 300px;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;

    @include onDesktop {
      display: none !important
    }
  }

  &__button-desktop {
    display: none !important;

    @include onDesktop {
      width: 300px;
      display: flex !important;
      margin-top: 40px !important;
    }
  }

  &__image {
    margin-top: 80px;
  }
}